#state
{
	position: fixed;
	top: 7px;
	right: 7px;
	width: 105px;
	padding: 8px 10px;
	background-color: blue;
	color: white;
	text-align: center;
	z-index:2000;
}
#state.up	{		background-color: green;	}
#state.down	{		background-color: red;		}