body {
  padding-top: 50px;
}

body > .container {
  padding-bottom: 20px;
}

#mapDiv {
  min-height: 450px; 
  max-height: 450px; 
  margin-bottom: 20px;
}

#mapDiv_layers>:first-child .layerTile {
  /*border: 1px solid red !important;*/
  /*
  border-width: 1px !important;
  border-style: solid !important; */
}

#tile-count-table-body tr td {
	text-align: center;
}

#downloading-ui {
	display: none;
}

#ready-to-download-ui, #downloading-ui {
  margin-bottom: 10px;
}

#ready-to-download-ui .btn
{
  margin-top: 5px;
}

#error-div {
  margin-top: 10px;
  display: none;
}

.alert {
  margin-bottom: 0px;
}

#load-file {
    position: relative;
    overflow: hidden;
}

#load-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}