<div id="mod-popup" class="mod-popup-div">
    <!--

    MODAL POPUP TEMPLATE

    This is a customizable template for creating modal popups.
    Feel free to modify this to fit the properties of your own feature service.

    -->
    <div id="mod-popup-b" class="mod-popup-body">
        <div id="row1" class="mod-popup-table-row">
            <div class="mod-popup-label-top-left">ID</div>
            <div class="mod-popup-input">
                <input id="stop-main-id" type="text" disabled class="mod-popup-stop-input-disabled" value="test"/>
            </div>
        </div>
        <div id="row2" class="mod-popup-table-row">
            <div class="mod-popup-label">Bustop ID</div>
            <div class="mod-popup-input">
                <input id="stop-id" disabled class="mod-popup-stop-input-disabled" value="test"/>
            </div>
        </div>
        <div id="row3" class="mod-popup-table-row">
            <div class="mod-popup-label">Routes</div>
            <div class="mod-popup-input">
                <input id="stop-routes" class="mod-popup-stop-input" value="test"/>
            </div>
        </div>
        <div id="row4" class="mod-popup-table-row">
            <div class="mod-popup-label">Stopnames</div>
            <div class="mod-popup-input">
                <input id="stop-names" class="mod-popup-stop-input" value="test"/>
            </div>
        </div>
        <div id="row5" class="mod-popup-table-row">
            <div class="mod-popup-button-div-bottom-left">
                <button id="mod-popup-close-btn" class="mod-popup-button-cancel" >Close</button>
            </div>
            <div class="mod-popup-button-div">
                <button id="mod-popup-save-btn" class="mod-popup-button" style="margin-right: 10px;">Save</button>
                <button id="mod-popup-delete-btn" disabled class="mod-popup-button" style="background-color: grey; text-decoration:line-through;">Delete</button>
            </div>
        </div>
    </div>
    <div id="modal-background" class="mod-popup-modal-background"></div>
</div>